.App {
  text-align: center;
}

@media (min-width: 1024px){
  main{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 0 50px;
  }
  .main--content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}